---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<ul>
<li style="display: flex; align-items: center; margin-bottom: 15px;">
    <div style="flex-shrink: 0; margin-right: 15px;">
        <a href="https://www.yihua.zone/work/gaze322/" target="_blank">
            <img src="http://hengfei-wang.github.io/images/3D2D.png" alt="Demo Thumbnail" style="width: 150px; height: 100px; object-fit: cover; border: 1px solid #ccc; border-radius: 5px;">
        </a>
    </div>
    <div>
        Yihua Cheng, <b>Hengfei Wang</b>, Zhongqun Zhang, Yang Yue, Boeun Kim, Feng Lu, Hyung Jin Chang. "3D Prior Is All You Need: Cross-Task Few-shot 2D Gaze Estimation." Conference on Computer Vision and Pattern Recognition (CVPR), 2025. 
        <a href="http://hengfei-wang.github.io/files/3D2D.pdf">[Paper]</a> 
        <a href="https://www.yihua.zone/work/gaze322/">[Project]</a>
    </div>
</li>
  <li><b>Hengfei Wang</b>, Zhongqun Zhang, Yihua Cheng, Hyung Jin Chang. "TextGaze: Gaze-Controllable Face Generation with Natural Language." ACM International Conference on Multimedia (ACM MM), 2024. <a href="http://hengfei-wang.github.io/files/TextGaze.pdf">[Paper]</a></li>
  <li>Zhongqun Zhang, <b>Hengfei Wang</b>, Ziwei Yu, Yihua Cheng, Angela Yao, Hyung Jin Chang. "NL2Contact: Natural Language Guided 3D Hand-Object Contact Modeling with Diffusion Model." European Conference on Computer Vision (ECCV), <font color="red">Oral</font>, 2024. <a href="http://hengfei-wang.github.io/files/NL2Contact.pdf">[Paper]</a></li> 
  <li><b>Hengfei Wang</b>, Zhongqun Zhang, Yihua Cheng, Hyung Jin Chang. "High-Fidelity Eye Animatable Neural Radiance Fields for Human Face." The British Machine Vision Conference (BMVC), <font color="red">Oral</font>, 2023. <a href="http://hengfei-wang.github.io/files/DeNeRF.pdf">[Paper]</a></li>
  <li><b>Hengfei Wang</b>, Jun O. Oh, Hyung Jin Chang, Jin Hee Na, Minwoo Tae, Zhongqun Zhang, Sang-Il Choi. "GazeCaps: Gaze Estimation With Self-Attention-Routed Capsules." Conference on Computer Vision and Pattern Recognition Workshops (CVPRW), 2023. <a href="http://hengfei-wang.github.io/files/GazeCaps.pdf">[Paper]</a></li>
  <li><b>Hengfei Wang</b>, Zandong Han, Qingxian Ma. "Robotic System with Power Line Communication for In-pipe Inspection of Underground Urban Gas Pipeline." International Conference on Robotics and Automation Engineering (ICRAE), 2019. <a href="http://hengfei-wang.github.io/files/PipelineRobot.pdf">[Paper]</a></li>
</ul>

